repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: debug-statements

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.13.3
  hooks:
    - id: ruff-check
      args: [--fix, --exit-non-zero-on-fix, --show-fixes]
    - id: ruff-format

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
    -   id: mypy
        args: [--strict]
        additional_dependencies:
            - types-setuptools
            - tokenize-rt==3.2.0
            - pytest == 7.1
            - importlib_metadata
            - typing-extensions>=4.5
            - rich

-   repo: https://github.com/scientific-python/cookie
    rev: 2025.10.01
    hooks:
      - id: sp-repo-review

-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        args: [-w, --ignore-words-list=hist,nd,te]
