exclude *.nix
exclude .pre-commit-config.yaml
exclude .git_archival.txt
include *.py
include testing/*.py
include tox.ini
include *.rst
include LICENSE
include *.toml
recursive-include testing *.bash
