exclude *.nix
exclude .pre-commit-config.yaml
exclude changelog.d/*
exclude .git_archival.txt
exclude .readthedocs.yaml
include *.py
include testing_scm/*.py
include *.rst
include LICENSE
include *.toml
include testing_scm/Dockerfile.*
include src/setuptools_scm/.git_archival.txt
include README.md
include CHANGELOG.md
include uv.lock

recursive-include testing_scm *.bash
prune .cursor